.btn {
	padding: 13px 	0px;	
	width: 180px;
	height: 50px;
	color: #000;
	background: #FF6B00;
	text-align: center;	
	font-size: 20px;
	display: block;
}



body {
	font-family: 'Montserrat', medium;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	color: #000;
	height: 100%;				
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;

}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
	text-decoration: none;	  
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;	
}

a {
	color: #000;
}

@media screen and (max-width: 1199px) {
	.footerall {
		width: 90% !important;
	}
	.plus_1 {
		width: 90% !important;
	}
}

@media screen and (max-width: 991px) {
	.repair {
		width: 49% !important;
	}
	.simple-repair {
		width: 49% !important
	}
	.cartridge {
		width: 49% !important;
		padding: 1vh;
	}
	.product {
		width: 49% !important;
		padding: 1vh;
	}
	.kopicentr {
		width: 49% !important;
		padding: 1vh;
	}
	.accessories {
		width: 49% !important;
		padding: 1vh;
	}
	.plus2 {
		width: 50% !important;
	}
	.plus3 {
		width: 50% !important;
	}
	.plus4 {
		width: 50% !important;
	}
	.plus5 {
		width: 50% !important;
	}
	.footerall {
		width: 90% !important;
	}
	.recommendation h5 {
		font-size: 35px !important;
	}
	.allrecommendation1 {		
		justify-content: space-between !important;
	}
	.allrecommendation2 {		
		justify-content: space-between !important;
	}
	.recommendation_1 {
		width: 45% !important;
	}
	.recommendation_2 {
		width: 45% !important;
	}
	.recommendation_3 {
		width: 45% !important;
	}
	.recommendation_4 {
		width: 45% !important;
	}
	.recommendation1_txt h6 {
		font-size: 20px !important;
	}
	.mainplus1 {
		font-size: 40px !important;
	}
}

@media screen and (max-width: 767px) {
	.intro {
		text-align: center !important;
	}
	.intro h1 {
		font-size: 40px !important;
	}
	.intro p {
		font-size: 20px !important;
	}
	.btn_1 {
		display: flex;
		justify-content: center;
	}
	.services h2 {
		font-size: 40px !important;
	}
	.services1 {
		width: 90% !important;
	}
	.repair {
		width: 100% !important;
	}
	.simple-repair {
		width: 100% !important
	}
	.cartridge {
		width: 100% !important;
		padding: 1vh;
	}
	.product {
		width: 100% !important;
		padding: 1vh;
	}
	.kopicentr {
		width: 100% !important;
		padding: 1vh;
	}
	.accessories {
		width: 100% !important;
		padding: 1vh;
	}
	.plus2 {
		width: 51% !important;
	}
	.plus3 {
		width: 51% !important;
	}
	.plus4 {
		width: 51% !important;
	}
	.plus5 {
		width: 51% !important;
	}
	.recommendation_1 {
		width: 100% !important;
		padding-bottom: 2vh;
	}
	.recommendation_2 {
		width: 100% !important;
		padding-bottom: 2vh;
	}
	.recommendation_3 {
		width: 100% !important;
		padding-bottom: 2vh;
	}
	.recommendation_4 {
		width: 100% !important;
		padding-bottom: 2vh;
	}
}

@media screen and (max-width: 575px) {
	.header_logo_1 {
		width: 100% !important;
	}
	.nav {
		display: none;
	}
	.contact {
		width: 100% !important;
	}
	.logo {
		flex-wrap: wrap;
	}
	.logo_3 {
		flex-wrap: wrap !important;
		justify-content: center;
	}
	.logo_txt {
		text-align: center;
		font-size: 20px;
	}
	.services h2 {
		font-size: 35px !important;
	}
	.mainplus1 {
		font-size: 30px !important;
	}
	.recommendation h5 {
		font-size: 30px !important;
	}
	.contact_1 {
		width: 99% !important;
	}
	.plus2 {
		width: 100% !important;
	}
	.plus3 {
		width: 100% !important;
	}
	.plus4 {
		width: 100% !important;
	}
	.plus5 {
		width: 100% !important;
	}
	._1footer {
		padding-bottom: 4vh;
	}
}


.container {
	
	height: 100%;
	margin: 0 auto;	
	
}

.header1 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1vh;
	width: 100%;
	height: auto;		
}

.header1_content {
	width: 80%;
	justify-content: space-between;
	display: flex;
	align-items: center;	
}

.nav {
	width: 60%;
}

.menu {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	line-height: 4vh;
}

.menu li {
	padding-right: 1vh;
	font-size: 18px;	
}

.contact {
	width: 25%;
	text-align: center;	
}

.tel {
	line-height: 3vh;
}

.adress {
	padding-top: 1vh;
}

.header_logo {
	width: 100%;
	display: flex;
	justify-content: center;
}

.header_logo_1 {
	width: 80%;
	display: flex;
}

.logo {	
	display: flex;
	align-items: center;
	justify-content: center;	
}
.logo_txt {
	padding-left: 2vh;
	font-weight: 600;		
}



/**********/


.komputer {
	background: url("../img/background.WebP") no-repeat center / cover;	
}

.intro_content {
	height: 50vh;
	width: 100%;	
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro {
	width: 80%;
}


.komputer h1 {
	font-size: 65px;
	color: #fff;	
}

.komputer p {
	font-size: 24px;
	color: #fff;	
	padding-bottom: 2vh;
}


/**********/


.services {
	
}
.all_services {	
	align-items: center;
}

.all_services p {	
	font-size: 24px;
}


.all_services_1 {
	width: 100%;
	display: flex;
	justify-content: center;
}

.all_services_2 {
	width: 100%;
	display: flex;
	justify-content: center;
}

.services2 {
	width: 80%;
	text-align: center;
}

.services h2 {
	font-size: 50px;
	text-align: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.services1 {
	display: flex;
	justify-content: space-between;	
	text-align: center;	
	flex-wrap: wrap;
	width: 80%;
}

.services1 p {
	width: 100%;
	text-align: center;
}

.repair {
	background: url("../img/photo1.png") no-repeat center / cover;
	width: 32.5%;
	height: 210px;
	color: #fff;
	font-size: 25px;	
	align-items: center;
	display: flex;
	transition: 1s;
	margin-bottom: 1vh;
}

.repair:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */    
}

.simple-repair {
	background: url("../img/photo2.png") no-repeat center / cover;
	width: 32.5%;
	height: 210px;
	color: #fff;
	font-size: 25px;
	align-items: center;
	display: flex;
	transition: 1s;
	margin-bottom: 1vh;
}

.simple-repair:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */    
}

.cartridge {
	background: url("../img/photo3.png") no-repeat center / cover;
	width: 32.5%;
	height: 210px;
	color: #fff;
	font-size: 25px;	
	align-items: center;
	display: flex;
	transition: 1s;
	margin-bottom: 1vh;
}

.cartridge:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */    
}

.product {
	background: url("../img/photo4.png") no-repeat center / cover;
	width: 32.5%;
	height: 210px;
	color: #fff;
	font-size: 25px;	
	align-items: center;
	display: flex;
	transition: 1s;
	margin-bottom: 1vh;
}

.product:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */    
}

.product p {
	width: 100%;
}

.kopicentr {
	background: url("../img/photo5.png") no-repeat center / cover;
	width: 32.5%;
	height: 210px;
	color: #fff;
	font-size: 25px;	
	align-items: center;
	display: flex;
	transition: 1s;
	margin-bottom: 1vh;
}

.kopicentr:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */    
}

.kopicentr p {
	width: 100%;
}

.accessories {
	background: url("../img/photo6.png") no-repeat center / cover;
	width: 32.5%;
	height: 210px;
	color: #fff;
	font-size: 25px;	
	align-items: center;
	display: flex;
	transition: 1s;
	margin-bottom: 1vh;
}

.accessories:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */    
}

.accessories p {
	width: 100%;
}


/****/

.plus {	
	padding-bottom: 5vh;	
}

.plus_all {
	width: 100%;	
	display: flex;
	justify-content: center;
}


.plus h3 {
	padding-top: 4vh;
	padding-bottom: 4vh;
	font-size: 45px;
}



.plus_1 {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.plus span {
	color: #004E1F;
	font-size: 18px;
}



.mainplus1 {
	font-size: 45px;
	text-align: center;		
}

.plus_1 h4 {	
	font-size: 94px;
	text-align: center;
}  

.plus_1 p {	
	font-size: 25px;
}

.plus2 {	
	text-align: center;
	width: 20%;
} 


.plus3 {	
	text-align: center;
	width: 20%;
} 


.plus4 {	
	text-align: center;
	width: 20%;
} 


.plus5 {	
	text-align: center;
	width: 20%;
} 

/******/

._1allrecommendation1 {
	display: flex;
	width: 100%;
	justify-content: center;
}

._2allrecommendation2 {
	display: flex;
	width: 100%;
	justify-content: center;
}

.recommendation h5 {
	font-size: 40px;
	text-align: center;
}

.recommendation h6 {
	font-size: 25px;
}

.recommendation p {
	font-size: 17px;
}

.allrecommendation1 {
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
	width: 80%; 
	flex-wrap: wrap;
}

.allrecommendation2 {
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
	width: 80%;
	flex-wrap: wrap;
}


.recommendation_1 {
	display: flex;
	align-items: center;
	width: 40%;
	
}

.recommendation1_txt {	
	text-align: center;
}

.recommendation_2 {
	display: flex;
	align-items: center;
	width: 40%;
}

.recommendation_3 {
	display: flex;
	align-items: center;
	width: 40%;
}

.recommendation_4 {
	display: flex;
	align-items: center;
	width: 40%;
}

.map p {
	font-size: 35px;
	font-weight: 700;
	text-align: center;
}

/********/

._1footer {
	width: 100%;
	display: flex;
	justify-content: center;
}


.footerall {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	flex-wrap: wrap;
}

.logo_3 {
	display: flex;
	align-items: center;
	/*width: 30%;*/
}

.contact_1 {
	width: 25%;
	text-align: center;
}

.tel_1 a {
	color: #000;
}

.adress_1 {
	margin-top: 10px;
}


