#comment-row .fbcoms {
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #fff;
    width: 100%;
    margin-bottom: 5px;
    padding: 2px;
    font-size: 12px!important;
    border-radius: 3px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


#comment-row .likes.totlikes {
    font-weight: 400;
}

#comment-row .totlikes {
    padding: 5px 5px 5px 24px;
    background-image: url("19e60cac0cb22beef3cdb41335ea3a46ab3fcaca.png");
    background-repeat: no-repeat;
    background-position: 5px center
}

#comment-row .likescom {
    padding: 5px;
    margin-bottom: 0;
}

#comment-row .topcomments {
    margin: 5px
}

#comment-row .fbblue,
#comment-row .fbblue a {
    color: #3c5a96;
    text-decoration: none;
}

#comment-row .fbblue:hover,
#comment-row .fbblue a:hover {
    cursor: pointer;
    text-decoration: underline
}

#comment-row .item {
    position: relative;
    padding: 5px 5px 5px 60px;
    min-height: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#comment-row .button {
    -moz-box-shadow: inset 0 1px 0 0 #7a8eb9;
    -webkit-box-shadow: inset 0 1px 0 0 #7a8eb9;
    box-shadow: inset 0 1px 0 0 #7a8eb9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.05, #637aad), color-stop(1, #5972a7));
    background: -moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background: -webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background: -o-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background: -ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
    background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7', GradientType=0);
    background-color: #637aad;
    border: 1px solid #314179;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
    max-width: 180px;
    width: 100%;
    display: block;
    margin-top: 4px;
    text-align: center
}

#comment-row .smallfont {
    font-size: 12px
}

#comment-row .item .profileimg {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 40px;
    height: 40px;
}

#comment-row .item .profileimg img{
    width: 100%;
    height: 100%;
}

#comment-row .comtxt {
    line-height: 16px;
    margin-bottom: 0;
}

#comment-row .name a {
    color: #3c5a96;
    font-weight: 700
}

#comment-row .name a:hover {
    text-decoration: none;
}

#comment-row .combot a {
    display: inline-flex;
}

#comment-row p {
    font-size: inherit;
}

#comment-row .ago {
    color: #86878c;
    font-size: .95em
}

#comment-row .fblike,
#comment-row .fblike a {
    font-weight: 700;
    color: #3c5a96;
    font-size: .95em;
    cursor: pointer
}

#comment-row .fblike:hover,
#comment-row .fblike a:hover {
    text-decoration: underline
}

#comment-row .combot {
    padding-top: 5px;
    overflow-x: visible;
}

#comment-row .likes {
    color: #3c5a96;
    font-size: .95em;
    cursor: pointer;
    padding-bottom: 3px
}

#comment-row .fbimg {
    background-color: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    max-width: 208px;
    width: 100%;
    padding: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid grey;
    margin: 10px 0 5px
}

#comment-row .btmComment {
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    padding: 10px
}

#comment-row .user {
    background: url("sprite.jpg") no-repeat top left;
    width: 40px;
    height: 40px
}

#comment-row .user.user1 {
    background-position: 0 0
}

#comment-row .user.user2 {
    background-position: -40px 0
}

#comment-row .user.user3 {
    background-position: -80px 0
}

#comment-row .user.user4 {
    background-position: -120px 0
}

#comment-row .user.user5 {
    background-position: -160px 0
}

#comment-row .user.user6 {
    background-position: 0 -40px
}

#comment-row .user.user7 {
    /* background-position: -40px -40px */
}

#comment-row .user.user8 {
    background-position: -80px -40px
}

#comment-row .user.user9 {
    background-position: -120px -40px
}

#comment-row .user.user10 {
    background-position: -160px -40px
}


.user11 {
    background: url('user7.png');
}

.user12 {
    background: url('user8.png');
}

.user13 {
    background: url('user9.png');
}

.user14 {
    background: url('user10.png');
}

.user15 {
    background: url('user11.png');
}