@media (min-width: 1500px) {
    .container {
        max-width: 1440px;
    }
}

@media (max-width: 992px) {
    .menu {
        justify-content: center;
    }

    .menu span {
        display: none;
    }

    button.roll {
        margin: 0 auto 25px !important;
    }

    h1 {
        font-size: 24px;
        text-align: center;
    }

    .with-header_bg .menu {
        border-top: 2px solid #162d9a;
        padding-top: 20px;
    }
}


@media (max-width: 768px) {
    .main-block {
        padding: 30px 15px 15px;
    }

    .roulette_wrapper ul {
        width: 180px;
        height: 180px;
    }

    .roulette_btn {
        width: 90px;
        height: 90px;
        background-size: 80px;
    }

    .roulette_btn span {
        top: 49px;
        left: 31px;
        line-height: 1;
        font-size: 9px;
    }

    .roulette_wrapper {
        padding: 15px;
        margin: 10px 0 20px 0;
    }

    .roulette_wrapper:before {
        top: -15px;
    }

    .roulette_wrapper ul li {
        transform-origin: 35px 100px;
        top: -10px;
        width: 70px;
    }

    .roulette_wrapper ul li::before {
        border-width: 100px 35px;
    }

    .roulette_wrapper ul li span {
        font-size: 15px;
        left: 27%;
        top: 16px;
    }

    .main-background {
        right: calc(50% - 75px);
        bottom: 0;
        height: 200px;
        width: 150px;
        object-position: bottom center;
    }

    .main-block {
        padding-top: 15px;
        padding-bottom: 200px;
    }
}

@media (max-width: 425px) {
    button.long {
        padding: 12px 20px;
    }
}
