
@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans-Regular.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans-Bold.ttf) format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans-BoldItalic.ttf) format('ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans-Italic.ttf) format('ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans-Regular.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: BigFishCasuals;
    src: url(../fonts/BigFishCasuals.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: AvenirNextCyr;
    src: url(../fonts/AvenirNextCyr-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: AvenirNextCyr;
    font-weight: 800;
    src: url(../fonts/AvenirNextCyr-Heavy.woff) format('woff');
    font-style: normal;
}

@font-face {
    font-family: AvenirNextCyr;
    src: url(../fonts/AvenirNextCyr-Demi.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: AvenirNextCyr;
    src: url(../fonts/AvenirNextCyr-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}