.header {
    padding-top: 25px;
    z-index: 5;
    position: relative;
    &__background {        
        z-index: -1;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        background: url('../img/background/first_bg.png') no-repeat;
        background-position: top center;
        height: 2050px;
        width: 100%;
    }
    &__nav {
        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__link {
            a {
                color: #fff;
                &:first-child {
                    padding-right: 50px;
                }
            }
        }
        &__descr {
            display: flex;
            align-items: center;
            color: $main-color;
        }
        &__txt {
            padding-right: 15px;
        }
        &__line {
            margin-right: 25px;
            background: $main-color;
            display: block;
            width: 15px;
            height: 1px;
        }
        &__social {
            display: flex;
            align-items: center;
            a {
                &:first-child {
                    padding-right: 25px;
                }
            }
        }
    }
    &__wrapper {
        &__blocks {
            display: flex;
            &__first {
                &__big {
                    margin-top: 110px; 
                    &__rotate {
                        width: 450px;
                        height: 450px;
                    }  
                    text-align: center;
                    &__txt {
                        font-size: 18px;
                    }
                    &__name {
                        color: $name-color;
                        line-height: 92px;
                        font-size: 77px;
                        font-family: BigFishCasuals;
                    }
                    &__line {
                        margin-top: 20px;
                        width: 47px;
                        height: 2px;
                        background: #c5ddda;
                    }
                    &__txt {
                        padding-top: 35px;
                    }
                }
                &__middle {
                    position: relative;
                    left: 300px;
                    &__rotate {                   
                        background: $main-color;
                        width: 210px;
                        height: 210px;
                    }  
                    text-align: center;
                    &__txt {
                        margin-top: -30px;
                        font-size: 14px;
                        text-align: center;
                        color: #fff;
                        line-height: 24px;
                        span {
                            font-weight: bold;
                        }
                        div {
                            padding-top: 7px;
                        }
                    }
                }
            }
            &__second {
                margin: 130px 0 0 365px;
                &__middle {
                    &__1 {
                        position: relative;
                        background: $name-color;
                    }
                    &__2 {
                        position: relative;
                        top: -39px;
                        left: 170px;
                        background: $main-color;
                        box-shadow: -7px 7px 44px #173737;
                        // box-shadow: 0px 20px 68px 0px rgb(23 55 55 / 47%);
                    }
                }
            }
        }
    }
    &__congratulation {
        width: 700px;
        display: flex;
        // justify-content: center;
        position: relative;
        left: 50%;
        // margin: 0 auto;
        margin-top: -60px;
        &__wrapper {
            display: flex;
            align-items: center;
        }
        &__item {
            width: 280px;
            height: 280px;
            display: flex;
            justify-content: center;
            align-items: center;
            &__inside {
                border-radius: 30px;
                width: 220px;
                height: 220px;
                background: $congratulation;
                color: #fff;
                &__content {
                    font-size: 128px;
                    font-family: AvenirNextCyr;
                    font-weight: 600;
                }
            }
        }
        &__descr {
            margin-left: -40px;
            z-index: 2;
            &__first{
                display: flex;
                align-items: flex-start;
                div {
                    &:nth-child(2) {
                        margin-left: 35px;
                    }
                    &:nth-child(3) {
                        margin-left: 75px;
                    }
                    &:nth-child(4) {
                        margin-left: 110px;
                    }
                }
            }
            &__second{
                margin-top: 90px;
                div {
                    &:nth-child(1) {
                        margin-left: 105px;
                    }
                    &:nth-child(2) {
                        margin-left: 45px;
                    }
                    
                }
            }
        }
    }
    &__danger {
        width: 100px;
        margin: 0 auto;
        position: relative;
        left: -70px;
        top: -15px;    
        &__bg {
            width: 115px;
            height: 115px;            
            background: $main-color;
        }
        &__wrapper {
            font-size: 90px;
            font-family: AvenirNextCyr;
            font-weight: 600;
            color: #fff;
        }
    }
    &__bottom__descr {
        font-size: 30px;
        font-family: AvenirNextCyr;
        font-weight: 800;
        color: $congratulation;
        text-align: center;
        span {
            font-family: AvenirNextCyr;
            font-weight: 800;
            color: #333d47;
        }
    }
}